/* Structure */


.main-header{
    margin:auto; 
    width:80%;
    background-color:#abe0bc; 
    padding:20px; 
}

#hamburger { 
    display: none;
    flex-direction: column;
    padding: 10px;
    position: relative;
}

#hamburger div { 
    width: 30px;
    height: 3px;
    background-color: black;
    margin: 6px 0;
}
h1{
    color: black; 
}

#image2 {
    margin-left: auto;
}

/* Main Navigation */

#main-nav ul{
    padding-left: 0px; 
    list-style-type: none;
}

#main-nav li{
    padding: 10px; 
    margin: 2px 0; 
    text-align: center;
}

.hide-small {
    display: none;
}

.hidden {
    display: none;
}



#main-nav li{
    list-style-type: none;
    display: inline-block;
    margin: 0;
    padding: 5px;
    text-align: center;
    
    }
    
  
    #main-nav a{
        text-decoration: none; 
        color:black;
       
    }

#main-nav a:hover{
   background-color:rgb(50, 155, 113); 
}



main{
    text-align: center;
}

.col1of3 {
    padding: 5px;
    margin: 5px; 
    border-radius: 5px; 
}

/* Structure */
body{
    background-color:#ddfcf1;
    font-family:Arial, Helvetica, sans-serif;
   }

   
   /* Navigations */
   a{
       text-decoration: none;
       color: black;
       padding: 3px;
       border-radius: 7px;
   }
   
   .align-right {
    text-align: right;
}

       .col1of2{
           text-align: center;
           background-color:#085745; 
           padding: 5px;
           margin: 5px; 
           border-radius: 5px;
        
       }
       
       .col1of3 {
           background-color:#e1f3e7; 
           padding: 5px;
           margin: 5px; 
           border-radius: 5px; 
       }
   
   a:hover{
       background:#2d8763;
   }
   
   
   #logo {
    max-width: 100%; 
    height: auto; 
}

.solid-line {
    border: 1px solid #000; 
    margin: 0;
    padding: 0; 
}

.content-container {
    text-align: left;
    margin-left: 20px; 
}



.solid-line2 {
    width: 30%;
    border: none;
    border-top: 1px solid #000;
    margin-left: 0;
}

.column-of-columns p{
    text-align: left; 
    }

    .content-container2 h2 {
        text-align: left;
    }

    .pair {
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px; 
    
    
    }
    
    .text-section {
        text-align: center;
    }

    .parallax {
        height: 100%;
        opacity: 0.65;
    }
    .info-section {
        font-size: 28px;
        color: black;
        display: flex;
        flex-direction: column; /* Stack children vertically */
        justify-content: center; /* Center vertically within the parent container */
        align-items: center; /* Center horizontally within the parent container */
      }
      
      form {
        margin: 0 2%;
      }
      
      form label {
        font-size: 0.75em;
        display: block;
      }
      
      form input:not([type="checkbox"]),
      form textarea,
      form button,
      select {
        font-size: 0.75em;
        width: 200px;
        padding: 5px;
      }
      
      input[type="checkbox"] {
        margin-right: 20px;
        padding: 5px;
        width: 20px;
        height: 20px;
      }
      
     
      
      .inline {
        display: inline;
      }

      
      
      
      #map {
        display: block;
        padding: 5px;
        max-width: 100%;
        width: 40%;
        margin: 0 2%;
    }
    
/* Larger Resolutions */

@media only screen and (min-width:768px){
.horizontal-nav ul,
.flex-container{
    display: flex; 
}



#main-nav ul{
    justify-content: center;
}

#main-nav ul {
    display: flex; 
}

#main-nav li{
    flex: 1;   
} 

.flex-container {
    justify-content: space-between;
    flex-direction: column;
}

.container1{
    display: flex;
}


.col1of2{
    margin-bottom: 20px;
}

.col1of2, .col1of3 {
    flex: 1; 
    margin: 10px; 
    box-sizing: border-box; 
  }
  

  .columns, .columns2, .columns3 {
    display: flex;
    flex-wrap: wrap;
     justify-content: space-between; 
}

.column-of-columns{
    display: flex;
    flex-wrap: wrap;
     justify-content: space-between; 
     text-align: left;
}
#nav-items {
    display: flex;
}
.hide-small {
    display: block;
}

}
#hamburger {
    display: none;
}





#logo {
    max-width: 80%; 
}

.pair {
    display: flex;


}

    #nav-items {
        display: flex;
    }



  

/* Small Screens */
@media only screen and (max-width: 767px) {
    #hamburger {
        display: block;
    }


    #image2 {
        display: none;
    }
    
}