/* Structure */
body{
 background-color:#ccdde3;
 font-family:Arial, Helvetica, sans-serif;
}

#content {
background:#e6eef1;
width: 75%;
margin:auto;
padding: 5px 5px;
border-radius: 5px;
}

#p-note{
    text-align: left;
}

.header-note{
    text-align: center;
}



/* Navigations */
a{
    text-decoration: none;
    color: black;
    padding: 3px;
    border-radius: 7px;
}

    .col1of2{
        text-align: center;
        background-color:#1b6481; 
        padding: 5px;
        margin: 5px; 
        border-radius: 5px;
     
    }
    
    .col1of3 {
        background-color: azure;
        padding: 5px;
        margin: 5px; 
        border-radius: 5px; 
    }

a:hover{
    background:#6798ab;
}

/* Fonts */


h2{
    color:#1b6481;
}
/* Larger Resolutions */
@media (min-width:900px) {

    
 

.columns {
    display: flex;
    flex-wrap: wrap;
     justify-content: space-between; 
}





  
  .col1of2, .col1of3 {
    flex: 1; 
    margin: 10px; 
    box-sizing: border-box; 
  }
  
 

}